flows/Chat-Listener.json
{
  "name": "Chat Listener",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "zai-org/GLM-5.1-FP8",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        304
      ],
      "id": "c901009a-a3da-425b-86a8-badd9f0ff777",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Fz8JhUFBCwCnr0Mo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "zai-org/GLM-5.1-FP8",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        304
      ],
      "id": "d5283294-8ac3-4135-8cff-9dc1948750ff",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Fz8JhUFBCwCnr0Mo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "z8oyhSAmVpeMH4OH",
          "mode": "list",
          "cachedResultUrl": "/workflow/z8oyhSAmVpeMH4OH",
          "cachedResultName": "Postgres-Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI(\"query\") }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1248,
        288
      ],
      "id": "a92734e7-7c39-42ff-a25f-ee70ff43352e",
      "name": "Call 'Postgres-Sub-Workflow'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  chat_id\nfrom public.chat_subscriptions\nwhere chat_id = {{ $json.message.chat.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -592,
        64
      ],
      "id": "49ef7a47-a564-4324-b62b-49bf861b1aa7",
      "name": "Select allowed chats",
      "credentials": {
        "postgres": {
          "id": "RomSOVlkU1yF6Cpz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9762ebe-df81-411e-ac13-44a52e5befc9",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        192
      ],
      "id": "1861a136-1bdf-414f-8558-9750dd24ade2",
      "name": "if current chat is allowed"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.message.chat.id }}",
            "message_id": "={{ $json.message.message_id }}",
            "sender_tg_user_id": "={{ $json.message.from.id }}",
            "reply_to_message_id": 0,
            "sender_username": "={{ $json.message.from.username }}",
            "sender_first_name": "={{ $json.message.from.first_name }}",
            "text": "={{ $json.message.text }}",
            "sent_at": "={{ new Date($json.message.date * 1000).toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_tg_user_id",
              "displayName": "sender_tg_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_username",
              "displayName": "sender_username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_first_name",
              "displayName": "sender_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_to_message_id",
              "displayName": "reply_to_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        96
      ],
      "id": "3126611c-8dae-4d08-8a8d-a8c28399aa36",
      "name": "Save message to DB",
      "credentials": {
        "postgres": {
          "id": "RomSOVlkU1yF6Cpz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM (\n  SELECT * FROM public.chat_messages\n  WHERE chat_id = {{ $json.chat_id }}\n  ORDER BY sent_at DESC\n  LIMIT 15\n) sub\nORDER BY sent_at ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        -64
      ],
      "id": "df446948-9ab6-4dac-ba46-e4cddaf638d6",
      "name": "Select message history from current chat",
      "credentials": {
        "postgres": {
          "id": "RomSOVlkU1yF6Cpz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newMessageData = $('Save message to DB').item.json;\nconst history = $('Select message history from current chat').all().map(item => item.json);\n\nconst historyText = history\n  .map((msg, i) => `${i + 1}) ${msg.sender_first_name}: ${msg.text}`)\n  .join('\\n');\n\n\nreturn [{\n  json: {\n    context: historyText,\n    new_message: newMessageData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        96
      ],
      "id": "44ac77b8-50a5-47d5-90ac-5a5a5cea5871",
      "name": "Union data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=NEW MESSAGE (extract deadlines only from this):\n{{ $json.new_message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Твоя задача определить, есть ли в этом сообщении дедлайн, задача или отмена чего-то? \nCONTEXT (предыдущие сообщения). Если среди них уже был дедлайн/задача, который пришел в текущем сообщении, то игнорируй его. Дубликаты запрещены:\n{{ $json.context }}\n\n\nВерни JSON со следующей схемой:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"required\": true,\n      \"description\": \"What to do: 'create', 'update', 'delete', or 'none' if no deadline found\"\n    },\n    \"title\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Short title of the deadline\"\n    },\n    \"subject\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Subject or category\"\n    },\n    \"due_at\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Datetime in ISO 8601 format\"\n    },\n    \"source_text\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Original message text\"\n    }\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        144
      ],
      "id": "074677fe-ebdb-4013-956e-98397f825720",
      "name": "AI Agent checks if deadline info in message"
    },
    {
      "parameters": {
        "jsCode": "const raw = JSON.parse($json.output);\nreturn raw "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        16
      ],
      "id": "8be2afd9-3d15-46dc-9d26-78631c29559b",
      "name": "Parse agent response"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a database manager. Based on the action field, execute the correct SQL:\n\ncreate → INSERT into deadlines\nupdate → UPDATE deadlines where title matches\ndelete → UPDATE deadlines set status = 'cancelled'\n\nAlways use the SQL tool. Never respond with text, just execute the query."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        80
      ],
      "id": "9c8528e8-0039-4f0b-85b4-21863024a22a",
      "name": "AI Agent add new deadline if needed"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        64
      ],
      "id": "5dbf0db6-90a7-4da4-bfb9-d6982d1f15f5",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent checks if deadline info in message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent add new deadline if needed",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Postgres-Sub-Workflow'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent add new deadline if needed",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select allowed chats": {
      "main": [
        [
          {
            "node": "if current chat is allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if current chat is allowed": {
      "main": [
        [
          {
            "node": "Save message to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save message to DB": {
      "main": [
        [
          {
            "node": "Select message history from current chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Union data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select message history from current chat": {
      "main": [
        [
          {
            "node": "Union data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Union data": {
      "main": [
        [
          {
            "node": "AI Agent checks if deadline info in message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent checks if deadline info in message": {
      "main": [
        [
          {
            "node": "Parse agent response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse agent response": {
      "main": [
        [
          {
            "node": "AI Agent add new deadline if needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent add new deadline if needed": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select allowed chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0946baff-5a72-48ea-901c-2ef93ade7b7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7da312d70899664f516d5e77deb9b439877da5c4962b162a8174dabe3dc9723d"
  },
  "id": "kfGz30LmD147Ak0V",
  "tags": []
}