flows/Chat-Listener.json
{
    "name": "Chat Listener",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -480,
          -16
        ],
        "id": "7c2ab217-208f-4e8c-a16f-a58ea47ce646",
        "name": "Telegram Trigger",
        "webhookId": "c739613f-79c0-42e5-9459-f0739ed12e37",
        "credentials": {
          "telegramApi": {
            "id": "TYmIXSdV5YnfSGKS",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allowedChats = [\"499260283\"];\nconst chatId = $json.message.chat.id.toString();\n\nif (!allowedChats.includes(chatId)) {\n  return []; // пустой массив = flow останавливается\n}\n\nreturn [$input.item];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          -16
        ],
        "id": "dc874ac6-6f9f-43ce-bf64-00a0c18bd87e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "chat_messages",
            "mode": "list",
            "cachedResultName": "chat_messages"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $json.message.chat.id }}",
              "message_id": "={{ $json.message.message_id }}",
              "sender_tg_user_id": "={{ $json.message.from.id }}",
              "reply_to_message_id": 0,
              "sender_username": "={{ $json.message.from.username }}",
              "sender_first_name": "={{ $json.message.from.first_name }}",
              "text": "={{ $json.message.text }}",
              "sent_at": "={{ new Date($json.message.date * 1000).toISOString() }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "sender_tg_user_id",
                "displayName": "sender_tg_user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "sender_username",
                "displayName": "sender_username",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sender_first_name",
                "displayName": "sender_first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "reply_to_message_id",
                "displayName": "reply_to_message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "sent_at",
                "displayName": "sent_at",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -80,
          96
        ],
        "id": "3126611c-8dae-4d08-8a8d-a8c28399aa36",
        "name": "Insert rows in a table",
        "credentials": {
          "postgres": {
            "id": "RomSOVlkU1yF6Cpz",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=NEW MESSAGE (extract deadlines only from this):\n{{ $json.new_message.text }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Твоя задача определить, есть ли в этом сообщении дедлайн, задача или отмена чего-то? \nCONTEXT (предыдущие сообщения). Если среди них уже был дедлайн/задача, который пришел в текущем сообщении, то игнорируй его. Дубликаты запрещены:\n{{ $json.context }}\n\n\nВерни JSON со следующей схемой:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"required\": true,\n      \"description\": \"What to do: 'create', 'update', 'delete', or 'none' if no deadline found\"\n    },\n    \"title\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Short title of the deadline\"\n    },\n    \"subject\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Subject or category\"\n    },\n    \"due_at\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Datetime in ISO 8601 format\"\n    },\n    \"source_text\": {\n      \"type\": [\"string\", \"null\"],\n      \"required\": false,\n      \"description\": \"Original message text\"\n    }\n  }\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          464,
          144
        ],
        "id": "074677fe-ebdb-4013-956e-98397f825720",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-oss-120b",
            "mode": "id"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          304,
          304
        ],
        "id": "c901009a-a3da-425b-86a8-badd9f0ff777",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "Fz8JhUFBCwCnr0Mo",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = JSON.parse($json.output);\nreturn raw "
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          16
        ],
        "id": "8be2afd9-3d15-46dc-9d26-78631c29559b",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a database manager. Based on the action field, execute the correct SQL:\n\ncreate → INSERT into deadlines\nupdate → UPDATE deadlines where title matches\ndelete → UPDATE deadlines set status = 'cancelled'\n\nAlways use the SQL tool. Never respond with text, just execute the query."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1008,
          80
        ],
        "id": "9c8528e8-0039-4f0b-85b4-21863024a22a",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-oss-120b",
            "mode": "id"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          912,
          304
        ],
        "id": "d5283294-8ac3-4135-8cff-9dc1948750ff",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "Fz8JhUFBCwCnr0Mo",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "z8oyhSAmVpeMH4OH",
            "mode": "list",
            "cachedResultUrl": "/workflow/z8oyhSAmVpeMH4OH",
            "cachedResultName": "Postgres-Sub-Workflow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $fromAI(\"query\") }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1248,
          288
        ],
        "id": "a92734e7-7c39-42ff-a25f-ee70ff43352e",
        "name": "Call 'Postgres-Sub-Workflow'"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM (\n  SELECT * FROM public.chat_messages\n  WHERE chat_id = {{ $json.chat_id }}\n  ORDER BY sent_at DESC\n  LIMIT 15\n) sub\nORDER BY sent_at ASC",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          80,
          -64
        ],
        "id": "df446948-9ab6-4dac-ba46-e4cddaf638d6",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "RomSOVlkU1yF6Cpz",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const newMessageData = $('Insert rows in a table').item.json;\nconst history = $('Execute a SQL query').all().map(item => item.json);\n\nconst historyText = history\n  .map((msg, i) => `${i + 1}) ${msg.sender_first_name}: ${msg.text}`)\n  .join('\\n');\n\n\nreturn [{\n  json: {\n    context: historyText,\n    new_message: newMessageData\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          96
        ],
        "id": "44ac77b8-50a5-47d5-90ac-5a5a5cea5871",
        "name": "Code in JavaScript2"
      }
    ],
    "pinData": {},
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Insert rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert rows in a table": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Postgres-Sub-Workflow'": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          []
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "versionId": "18da8068-fcb8-4233-8b94-d509a2c4e634",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "7da312d70899664f516d5e77deb9b439877da5c4962b162a8174dabe3dc9723d"
    },
    "id": "kfGz30LmD147Ak0V",
    "tags": []
  }