flows/RAG_indexing.json
{
  "name": "RAG_indexing",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c1dcaa21-368d-42ba-919b-ae6a0bc20284",
      "name": "Telegram Trigger",
      "webhookId": "3f042ed4-901e-497e-b704-dcfbca2167d7",
      "credentials": {
        "telegramApi": {
          "id": "NSEtlrAAOR6gCNW1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "21f1dd95-37f8-44f0-a5fb-4d426aa9e6de",
              "leftValue": "={{ $json.message.document.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "aa5ec20d-48d5-40bd-8dee-7774a1479ffe",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -96
      ],
      "id": "4263441e-feed-49cd-a552-0e07d1d6dee2",
      "name": "Get a file",
      "webhookId": "12179757-9412-4e3c-9f3b-a45836f0aa5c",
      "credentials": {
        "telegramApi": {
          "id": "NSEtlrAAOR6gCNW1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        -96
      ],
      "id": "4b9c4629-1cf0-4050-ae73-ee4838dcc8bf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "doc_chunks",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1120,
        -112
      ],
      "id": "f7e26591-6442-4f8d-9924-8b55ae70e7c9",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "eaW56bD2SGaKUnEN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        304
      ],
      "id": "6a987976-6628-4c58-b4b0-6f5def2a5b66",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gJf79SyAWrNqHeex",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        304
      ],
      "id": "da2eccf3-7c79-4655-95cf-4ba0b929ff77",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "// Получаем текст из входящих данных (из узла Extract from File)\nconst inputText = $input.first().json.text;\nconst chunkSize = 1000;\nconst chunkOverlap = 200;\n\n// Функция рекурсивного разбиения текста на чанки с перекрытием\nfunction splitTextIntoChunks(text, size, overlap) {\n    const chunks = [];\n    let start = 0;\n\n    while (start < text.length) {\n        let end = start + size;\n        if (end >= text.length) {\n            chunks.push(text.slice(start));\n            break;\n        }\n\n        // Ищем подходящее место для разрыва (конец предложения или абзаца)\n        const slice = text.slice(start, end);\n        const lastPeriod = slice.lastIndexOf('.');\n        const lastNewline = slice.lastIndexOf('\\n');\n        let splitPoint = end;\n\n        if (lastPeriod > size * 0.8) {\n            splitPoint = start + lastPeriod + 1;\n        } else if (lastNewline > size * 0.8) {\n            splitPoint = start + lastNewline + 1;\n        }\n\n        chunks.push(text.slice(start, splitPoint));\n        start = splitPoint - overlap;\n        if (start < 0) start = 0;\n    }\n    return chunks;\n}\n\nconst chunks = splitTextIntoChunks(inputText, chunkSize, chunkOverlap);\n// Возвращаем каждый чанк как отдельный объект с полем \"chunk\"\nreturn chunks.map(chunk => ({ json: { pageContent: chunk } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -112
      ],
      "id": "9f38fcc3-f049-4a6f-b052-926fbd0445de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        96
      ],
      "id": "0425d080-e58a-4166-8ab5-8cd40d38160c",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "gJf79SyAWrNqHeex",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1408,
        240
      ],
      "id": "4b04a060-2e14-4cd9-b51c-3c861eb79d58",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a3e4c28d-5f80-4bf7-88fd-f1cda03eaf04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51a38a7465d855d6b5262c5db6144654f8756201725b66210c2cf807901a5a97"
  },
  "id": "RltPOkpf4BVtGEd9",
  "tags": []
}