flows/Reminder-Workflow.json
{
    "name": "Reminder Workflow",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 12
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -496,
          32
        ],
        "id": "ec75e564-47a1-4efd-affa-67dcd38a09e7",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "zai-org/GLM-5.1-FP8",
            "mode": "id"
          },
          "responsesApiEnabled": false,
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -368,
          256
        ],
        "id": "98d92ca9-fd93-4c80-9874-20c09bc3d3bc",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "Fz8JhUFBCwCnr0Mo",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "description": "Call this tool to execute sql query in PostgreSQL Database.",
          "workflowId": {
            "__rl": true,
            "value": "z8oyhSAmVpeMH4OH",
            "mode": "list",
            "cachedResultUrl": "/workflow/z8oyhSAmVpeMH4OH",
            "cachedResultName": "Postgres-Sub-Workflow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $fromAI('query') }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -96,
          272
        ],
        "id": "0173a8dc-dbd8-495c-a9df-6c7267b3eb4c",
        "name": "Call 'Postgres-Sub-Workflow'"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=It's time to send reminders. Today is {{ $now }}",
          "options": {
            "systemMessage": "=You are a reminder agent. Your only job is to find upcoming deadlines and notify users.\n\nFollow these steps strictly:\n1. Call the SQL tool with this exact query:\nSELECT d.*, u.tg_user_id \nFROM deadlines d\nJOIN users u ON u.id = d.user_id\nWHERE d.status = 'active'\nAND d.due_at BETWEEN NOW() AND NOW() + INTERVAL '7 days'\nORDER BY d.due_at ASC\n\n2. If the query returns no rows — stop, do nothing.\n3. For each row returned, format a Telegram message using the template below.\n4. Call the SQL tool to mark each deadline as reminded:\nUPDATE deadlines SET reminded_at = NOW() WHERE id = {id}\n\nReturn a JSON array of objects:\n[\n  {\n    \"tg_user_id\": 123456789,\n    \"message\": \"formatted message here\"\n  }\n]\nDo not send:\n- thinking\n- reasoning\n- anything else out of json\nReturn the json only\n\n\nMessage template:\n📅 <b>Дедлайны на этой неделе</b>\n\n🔴 <b>{title}</b>        ← до 24 часов\n📖 Предмет: {subject}\n🗓 Срок: {due_at}\n\n🟡 <b>{title}</b>        ← 1-3 дня\n📖 Предмет: {subject}\n🗓 Срок: {due_at}\n\n🟢 <b>{title}</b>        ← 3-7 дней\n📖 Предмет: {subject}\n🗓 Срок: {due_at}"
          }
        },
        "id": "2c4ffb36-f6df-4211-8651-c69507f46b90",
        "name": "Angie, AI Assistant 👩🏻‍🏫",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          -240,
          32
        ],
        "typeVersion": 1.6
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json.output;\nconst clean = raw.replace(/```json\\n?/, '').replace(/\\n?```/, '').trim();\nconst parsed = JSON.parse(clean);\nreturn parsed.map(item => ({ json: item }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          32
        ],
        "id": "13dc0bd0-77cf-4da8-aaf5-e45f0d1d2ca3",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "chatId": "={{ $json.tg_user_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          560,
          48
        ],
        "id": "4a9ed36a-8599-496d-b304-6cfc281a1c0e",
        "name": "Send a text message",
        "webhookId": "f61e2521-fd43-4633-9de3-3c112213654b",
        "credentials": {
          "telegramApi": {
            "id": "TYmIXSdV5YnfSGKS",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          320,
          32
        ],
        "id": "8e60d30e-e60f-4ab5-a7f9-8916772e6d1a",
        "name": "Loop Over Items"
      }
    ],
    "pinData": {},
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Angie, AI Assistant 👩🏻‍🏫",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Angie, AI Assistant 👩🏻‍🏫",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Postgres-Sub-Workflow'": {
        "ai_tool": [
          [
            {
              "node": "Angie, AI Assistant 👩🏻‍🏫",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Angie, AI Assistant 👩🏻‍🏫": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "versionId": "46cb4bfd-451f-492a-842a-258f674dea38",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "7da312d70899664f516d5e77deb9b439877da5c4962b162a8174dabe3dc9723d"
    },
    "id": "ZkZmbBWapFV4S7hQ",
    "tags": []
  }