flows/Sub RAG_indexing.json
{
  "name": "Sub RAG_indexing",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_id"
            },
            {
              "name": "chat_id",
              "type": "number"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        224,
        352
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "=={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        352
      ],
      "id": "4070158b-e129-40e3-b47c-17ce42981656",
      "name": "Get a file",
      "webhookId": "12179757-9412-4e3c-9f3b-a45836f0aa5c",
      "credentials": {
        "telegramApi": {
          "id": "NSEtlrAAOR6gCNW1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        688,
        352
      ],
      "id": "9d61ac40-4865-4b01-aec8-bdd973542117",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "doc_chunks",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1184,
        336
      ],
      "id": "3fc0bb97-8f4d-492e-b0c2-a11d2eb7675c",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "eaW56bD2SGaKUnEN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем текст из входящих данных (из узла Extract from File)\nconst inputText = $input.first().json.text;\nconst chunkSize = 1000;\nconst chunkOverlap = 200;\n\n// Функция рекурсивного разбиения текста на чанки с перекрытием\nfunction splitTextIntoChunks(text, size, overlap) {\n    const chunks = [];\n    let start = 0;\n\n    while (start < text.length) {\n        let end = start + size;\n        if (end >= text.length) {\n            chunks.push(text.slice(start));\n            break;\n        }\n\n        // Ищем подходящее место для разрыва (конец предложения или абзаца)\n        const slice = text.slice(start, end);\n        const lastPeriod = slice.lastIndexOf('.');\n        const lastNewline = slice.lastIndexOf('\\n');\n        let splitPoint = end;\n\n        if (lastPeriod > size * 0.8) {\n            splitPoint = start + lastPeriod + 1;\n        } else if (lastNewline > size * 0.8) {\n            splitPoint = start + lastNewline + 1;\n        }\n\n        chunks.push(text.slice(start, splitPoint));\n        start = splitPoint - overlap;\n        if (start < 0) start = 0;\n    }\n    return chunks;\n}\n\nconst chunks = splitTextIntoChunks(inputText, chunkSize, chunkOverlap);\n// Возвращаем каждый чанк как отдельный объект с полем \"chunk\"\nreturn chunks.map(chunk => ({ json: { pageContent: chunk } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        336
      ],
      "id": "69fad9f5-b7d2-4ff8-a228-53a645aa32bf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1232,
        544
      ],
      "id": "31e6e57d-e928-4814-8764-1487b0c8360d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "gJf79SyAWrNqHeex",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1472,
        688
      ],
      "id": "836590c6-bd7f-4d2a-b37f-98296e1f4a3b",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "jsCode": "\nreturn {\n  json: {\n    success: true,\n    message: \"Файл проиндексирован\",\n    chunks_count: $('Code in JavaScript').items.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        336
      ],
      "id": "4a682770-d746-4d2a-b2e2-5e1d4a015cdc",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0e9210aa-e3fd-4d66-8868-c17fe7cef8be",
  "meta": {
    "instanceId": "51a38a7465d855d6b5262c5db6144654f8756201725b66210c2cf807901a5a97"
  },
  "id": "UBok9BEcCcS6fBJT",
  "tags": []
}