flows/TG Bot Chat.json
{
  "name": "TG Bot Chat",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').first().json.message.from.id }}"
      },
      "id": "103f0f12-431b-4bc4-a4c6-e156eb9d3cef",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2656,
        416
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "15e28ebd-4763-49bf-b85f-aca36c4dfeea",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2384,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "gJf79SyAWrNqHeex",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "37e978be-a21e-4827-90de-6970886ffb9e",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3216,
        32
      ],
      "webhookId": "e699405e-8e52-4d38-a06b-1fa8edf050bd",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "NSEtlrAAOR6gCNW1",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5a1008a-3fcb-41a6-893e-d83d2b9e48bc",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1872,
        32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "da322854-d20b-489e-b7a1-b8340861e65f",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2320,
        -48
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "gJf79SyAWrNqHeex",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('When Executed by Another Workflow').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f664a6ba-425c-4b4e-be5c-d63568588664",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        32
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "c62b9c25-16f1-4081-a8a6-a7f2ab6f7189",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2096,
        -48
      ],
      "webhookId": "24273e7e-6133-415e-8627-a9d6dc0f107c",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "NSEtlrAAOR6gCNW1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сообщение от telegram_user_id={{$json.allow}} \nТекст сообщения: {{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nToday's date is {{ $now }}.\n\nGuidelines:\n- if there is a message about deadline, use postgres tool to execute an sql query and save the data to storage. If you don't have enough information to store the data you can ask user. The tables schema will be listed below.\n- if the user did not specify a date in the request assume they are asking for today\n- Use baserow tool to answer questions about tasks\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away\n\nIMPORTANT:\n- your message will be sent to Telegram using HTML parse mode\n- use only Telegram-compatible HTML tags: <b>, <i>, <code>, <pre>\n- do not use markdown tables\n- format lists and saved deadlines as plain text with line breaks\n- do not output unsupported HTML tags\n\nPOSTGRES TABLE SCHEMA:\nclass User(Base):\n    __tablename__ = \"users\"\n\n    id: Mapped[int] = mapped_column(primary_key=True)\n    tg_user_id: Mapped[int] = mapped_column(\n        BigInteger, unique=True, index=True, nullable=False\n    )\n    username: Mapped[str | None] = mapped_column(String(255), nullable=True)\n    first_name: Mapped[str | None] = mapped_column(String(255), nullable=True)\n    last_name: Mapped[str | None] = mapped_column(String(255), nullable=True)\n    created_at: Mapped[datetime] = mapped_column(\n        DateTime(timezone=True), default=utcnow, nullable=False\n    )\n    updated_at: Mapped[datetime] = mapped_column(\n        DateTime(timezone=True),\n        default=utcnow,\n        onupdate=utcnow,\n        nullable=False,\n    )\n\n    deadlines: Mapped[list[\"Deadline\"]] = relationship(\n        back_populates=\"user\",\n        cascade=\"all, delete-orphan\",\n    )\n\n\nclass Deadline(Base):\n    __tablename__ = \"deadlines\"\n\n    id: Mapped[int] = mapped_column(primary_key=True)\n    user_id: Mapped[int] = mapped_column(\n        ForeignKey(\"users.id\", ondelete=\"CASCADE\"), nullable=False, index=True\n    )\n    title: Mapped[str] = mapped_column(String(500), nullable=False)\n    subject: Mapped[str | None] = mapped_column(String(255), nullable=True)\n    due_at: Mapped[datetime] = mapped_column(\n        DateTime(timezone=True), nullable=False, index=True\n    )\n    status: Mapped[str] = mapped_column(\n        String(32), default=\"active\", nullable=False, index=True\n    )\n    source_text: Mapped[str] = mapped_column(Text, nullable=False)\n    source_chat_id: Mapped[int | None] = mapped_column(\n        BigInteger, nullable=True, index=True\n    )\n    source_message_id: Mapped[int | None] = mapped_column(\n        BigInteger, nullable=True\n    )\n    reminded_at: Mapped[datetime | None] = mapped_column(\n        DateTime(timezone=True), nullable=True\n    )\n    created_at: Mapped[datetime] = mapped_column(\n        DateTime(timezone=True), default=utcnow, nullable=False\n    )\n    updated_at: Mapped[datetime] = mapped_column(\n        DateTime(timezone=True),\n        default=utcnow,\n        onupdate=utcnow,\n        nullable=False,\n    )\n\n    user: Mapped[\"User\"] = relationship(back_populates=\"deadlines\")\n\n    __table_args__ = (\n        Index(\"ix_deadlines_user_status_due_at\", \"user_id\", \"status\", \"due_at\"),\n    )\n"
        }
      },
      "id": "f216e021-f6f2-44db-801a-5b1c99f2d9a9",
      "name": "Angie, AI Assistant 👩🏻‍🏫",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2592,
        96
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "## Process Telegram Request\n",
        "height": 487,
        "width": 800,
        "color": 5
      },
      "id": "5eaa7d10-31b9-472f-98ed-9d12a44fe7e1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14151637-9423-4c8e-9b5b-12c7869df9cc",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.tg_user_id }}",
              "rightValue": "={{ $json.allow }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c150a9d3-04d2-4af4-9524-5b73591f82bb",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        896,
        16
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## Security: only allow authorized IDs\nPlease add the ids into the setting node that you want to authorize\n",
        "height": 327,
        "width": 448,
        "color": 5
      },
      "id": "79581bd2-9493-4bf2-a0f6-3ff34540de09",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "description": "Call this tool to execute sql query in PostgreSQL Database.",
        "workflowId": {
          "__rl": true,
          "value": "z8oyhSAmVpeMH4OH",
          "mode": "list",
          "cachedResultUrl": "/workflow/z8oyhSAmVpeMH4OH",
          "cachedResultName": "Postgres-Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI(\"query\") }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2944,
        384
      ],
      "id": "0264845e-dfbf-4941-8d82-d7c3441abc27",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  tg_user_id\nfrom public.users\nwhere tg_user_id = {{ $json.message.from.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        336
      ],
      "id": "74a1224f-097a-4f6a-9ea3-39d7534bdedf",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "RomSOVlkU1yF6Cpz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        768,
        336
      ],
      "id": "09afa0ad-87fc-4a21-af14-a233c76d247c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "update_id": 285007805,
          "message": {
            "message_id": 95,
            "from": {
              "id": 8625668002,
              "is_bot": false,
              "first_name": "Nikita",
              "last_name": "Asket",
              "language_code": "ru"
            },
            "chat": {
              "id": 8625668002,
              "first_name": "Nikita",
              "last_name": "Asket",
              "type": "private"
            },
            "date": 1777116246,
            "text": "kuku"
          }
        }
      }
    ]
  },
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Angie, AI Assistant 👩🏻‍🏫": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1638c512-ddd6-40f0-bb16-109b7f620103",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51a38a7465d855d6b5262c5db6144654f8756201725b66210c2cf807901a5a97"
  },
  "id": "uxo5leiabK8FC5I4",
  "tags": []
}